@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #edeff3;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: visible;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 20px;
}

@media (max-width: 1520px) {
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.7rem;
  }

  h6 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.45rem;
  }

  h6 {
    font-size: 1.15rem;
  }
}

.authPage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.authPage .container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle shadow */
  max-width: 400px;
  /* Set a max-width to make the container narrower */
  width: 100%;
}

.authPage .container .header {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.authPage .container .header .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: xx-large;
}

.authPage .container .header h3 {
  font-size: 1.6rem;
}

.authPage .container .header img {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}

.authPage .container .header {
  text-align: center;
  margin-bottom: 30px;
}

.authPage .container form {
  display: flex;
  flex-direction: column;
  gap: 0px;

}

.authPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.authPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.authPage .container form .inputTag div input,
.authPage .container form .inputTag div select {
  background: #87878778;
  padding: 8px;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 7px 0 0 7px;
}

.authPage .container form .inputTag div input:focus,
.authPage .container form .inputTag div select:focus {
  outline: none;
}

.authPage .container form .inputTag div svg {
  width: 40px;
  font-size: 1.5rem;
  background: #858080;
  height: 100%;
  padding: 8px;
  color: #fff;
  border-radius: 0 7px 7px 0;
}

.authPage .container form button {
  padding: 10px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #33302b;
  font-size: 1.2rem;
  border-radius: 7px;
  cursor: pointer;

}

.authPage .container form a {
  padding: 10px;
  text-align: center;
  border: 1px solid #33302b;
  margin-top: 25px;
  font-weight: 700;
  color: #33302b;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}




@media (max-width: 1520px) {
  .authPage {
    min-width: 100%;
  }
}

@media (max-width: 830px) {
  .authPage {
    min-height: 100vh;
    height: auto;
  }

  .authPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
  }

  .authPage .banner {
    flex: none;
    display: none;
  }
}

.authPage .container-1 {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle shadow */
  max-width: 400px;
  /* Set a max-width to make the container narrower */
  width: 100%;
  max-height: 500px;
}

.authPage .container-1 .header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.authPage .container-1 .header .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: xx-large;
}

.authPage .container-1 .header h3 {
  font-size: 1.6rem;
}

.authPage .container-1 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.authPage .container-1 form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authPage .container-1 form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.authPage .container-1 form .inputTag div input,
.authPage .container-1 form .inputTag div select {
  background: #87878778;
  padding: 8px;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 7px 0 0 7px;
  /* Add rounded corners */
}

.authPage .container-1 form .inputTag div input:focus,
.authPage .container-1 form .inputTag div select:focus {
  outline: none;
}

.authPage .container-1 form .inputTag div svg {
  width: 40px;
  /* Fixed width */
  font-size: 1.5rem;
  background: #858080;
  height: 100%;
  padding: 8px;
  color: #fff;
  border-radius: 0 7px 7px 0;
  /* Add rounded corners */
}

.authPage .container-1 form .inputTag .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.authPage .container-1 form button {
  padding: 10px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #33302b;
  font-size: 1.2rem;
  border-radius: 7px;
  cursor: pointer;
  /* Add pointer cursor for buttons */
}

.authPage .container-1 form a {
  padding: 10px;
  text-align: center;
  border: 1px solid #33302b;
  margin-top: 5px;
  font-weight: 700;
  color: #33302b;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}

@media (max-width: 830px) {
  .authPage .container-1 {
    padding: 40px 20px;
  }
}

.footerShow {
  background: #18191c;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}

.footerShow div {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #f1f3f6;
}

.footerShow div a {
  font-size: 20px;
  text-decoration: none;
  color: #f1f3f6;
}

.footerShow div a:hover {
  color: #2d5649;
  transform: scale(1.2);
  transition: all 0.3s;
}

.footerHide {
  display: none;
}

@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}

@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}

.navbarShow {
  display: block;
}

.navbarHide {
  display: none;
}


.heroSection {
  display: flex;
  flex-direction: column;
  padding: 75px 0 50px 0;

}

.heroSection .container,
.heroSection .details {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
}

.heroSection .container {
  display: flex;
  height: 450px;
  margin-bottom: 1.75rem;

}

.heroSection .container .title,
.heroSection .container .image {
  flex: 1;
}

.heroSection .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSection .container .title h1 {
  max-width: 600px;
}

.heroSection .container .title p {
  margin-top: 1.5rem;
  max-width: 600px;
}

.heroSection .container .image {
  overflow: hidden;
}

.heroSection .container .image img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.heroSection .details {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  gap: 40px;
}

.heroSection .details .card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #f1f3f6;
  width: 220px;
  padding: 10px 20px;
}

.heroSection .details .card .icon {
  font-size: 24px;
  background: rgb(233, 249, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #2d5649;
}

.heroSection .details .card .content p:first-child {
  font-weight: bold;
  margin-left: 13px;
}

.heroSection .details .card .content p:nth-child(2) {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.heroSection .details .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}

@media (max-width: 1520px) {

  .heroSection .container,
  .heroSection .details {
    min-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .heroSection .container {
    flex-direction: column-reverse;
    position: relative;
    min-height: 600px;
  }

  .heroSection .container .title {
    z-index: 1;
    text-align: center;
  }

  .heroSection .container .title h1,
  .heroSection .container .title p {
    max-width: 100%;
  }

  .heroSection .container .image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 950px) {
  .heroSection .details {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }

  .heroSection .details .card {
    width: 300px;
    flex: none;
  }
}

@media (max-width: 670px) {
  .heroSection .details .card {
    max-width: 350px;
    min-width: 350px;
  }
}

@media (max-width: 400px) {
  .heroSection .details .card {
    min-width: 100%;
    max-width: 100%;
  }
}

.howitworks {
  background: #f1f3f6;
}

.howitworks .container {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
}

.howitworks .container .banner {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.howitworks .container .banner .card {
  background: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 350px;
  padding: 30px 50px;
  gap: 12px;
  justify-content: center;
}

.howitworks .container .banner .card:nth-child(2) {
  background: #18191c;
  color: #fff;
}

.howitworks .container .banner .card svg {
  font-size: 30px;
  color: #2d5649;
}

.howitworks .container .banner .card p:last-child {
  font-size: 14px;
  color: gray;
}

@media (max-width: 1520px) {
  .howitworks .container {
    min-width: 100%;
    padding: 50px 20px;
  }
}

@media (max-width: 850px) {
  .howitworks .container .banner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .howitworks .container .banner .card {
    flex: none;
    width: 400px;
    height: 320px;
  }
}

@media (max-width: 480px) {
  .howitworks .container .banner .card {
    width: 100%;
  }
}

.categories {
  min-width: 1500px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 0;
  gap: 35px;
}

.categories .banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
  padding: 20px 0;
}

.categories .banner .card {
  width: 320px;
  background: red;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #f1f3f6;
}

.categories .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}

.categories .banner .card .icon {
  font-size: 24px;
  padding: 10px;
  background: rgb(233, 249, 255);
  color: #2d5649;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories .banner .card .text p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}

.categories .banner .card .text p:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
  color: gray;
}

@media (max-width: 1520px) {
  .categories {
    min-width: 100%;
    padding: 50px 20px;
  }
}

@media (max-width: 714px) {
  .categories {
    align-items: center;
  }

  .categories .banner {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .categories .banner .card {
    width: 100%;
  }
}

.companies {
  background: #f1f3f6;
  padding: 50px 0;
}

.companies .container {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.companies .container .banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.companies .container .banner .card {
  width: 340px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  gap: 15px;
}

.companies .container .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}

.companies .container .banner .card .content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.companies .container .banner .card .content .icon {
  padding: 10px;
  font-size: 24px;
  color: #2d5649;
  background: rgb(233, 249, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies .container .banner .card .content .text p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.companies .container .banner .card .content .text p:last-child {
  font-size: 15px;
  color: gray;
}

.companies .container .banner .card button {
  color: #2d5649;
  background: rgb(233, 249, 255);
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 7px 0;
  margin-top: 10px;
}

@media (max-width: 1520px) {
  .companies .container {
    min-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 1100px) {
  .companies .container .banner {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .companies .container .banner .card {
    width: 420px;
  }
}

@media (max-width: 470px) {
  .companies .container .banner .card {
    width: 100%;
  }
}

.jobs {
  background: #f1f3f6;
  min-height: 100vh;
  padding: 50px 20px;
}

.jobs .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  gap: 35px;
}

.jobs .container .banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center;
  padding: 30px 0;
}

.jobs .container .banner .card {
  background: #fff;
  text-decoration: none;
  width: 320px;
  height: 220px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.jobs .container .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}

.jobs .container .banner .card p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
}

.jobs .container .banner .card p:nth-child(2) {
  font-size: 1.3rem;
  color: gray;
}

.jobs .container .banner .card p:last-child {
  font-size: 1rem;
  color: gray;
}

.jobs .container .banner .card a {
  text-decoration: none;
  padding: 7px;
  font-size: 20px;
  color: #2d5649;
  background: rgb(233, 249, 255);
  width: 100%;
  display: block;
  text-align: center;
}

@media (max-width: 1520px) {
  .jobs .container {
    min-width: 100%;
  }
}

@media (max-width: 1060px) {
  .jobs .container .banner .card {
    width: 360px;
  }
}

@media (max-width: 795px) {
  .jobs .container .banner .card {
    width: 100%;
  }
}

.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}



.profilePage .profileTitle {
  font-size: 2rem;
  margin-bottom: 40px;
}

.profilePage .container .profileDetails {
  text-align: left;
}

.profilePage .container .profileDetails .profileDetails p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.profilePage .container .profileDetails .profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f4f4f4;
  min-height: 150px;
  max-width: 170px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(20, 11, 11, 0.1);

}

.profilePage .container .updateProfileLink {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #020a13;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.profilePage .container .updateProfileLink .updateProfileLink:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .profilePage .container {
    padding: 20px;
  }

  .profilePage .container .profileTitle {
    font-size: 1.5rem;
  }

  .profilePage .container .profileDetails p {
    font-size: 1rem;
  }

  .profilePage .container .updateProfileLink {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .profilePage .container {
    padding: 15px;
  }

  .profilePage .container .profileTitle {
    font-size: 1.2rem;
  }

  .profilePage .container .profileDetails p {
    font-size: 0.9rem;
  }

  .profilePage .container .updateProfileLink {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .profilePage .container .profileDetails p {
    word-wrap: break-word;
  }

  .profilePage .container .profileDetails .label {
    font-weight: bold;
  }
}

.profilePage-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.profilePage-1 .container .header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.profilePage-1 .container .form {
  display: flex;
  flex-direction: column;
}

.profilePage-1 .container .form .inputTag {
  margin-bottom: 15px;
}

.profilePage-1 .container .form .inputTag label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.profilePage-1 .container .form .inputTag input,
.profilePage-1 .container .form .inputTag textarea {
  width: 100vh;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;

}

.profilePage-1 .container .form button {
  padding: 10px 20px;
  background-color: #505152;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.profilePage-1 .container .form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profilePage-1 .container .form button:hover {
  background-color: #121213;
}

@media (max-width: 768px) {
  .profilePage-1 .container {
    padding: 20px;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .profilePage-1 .container {
    padding: 15px;
  }

  .profilePage-1 .container .header h1 {
    font-size: 1.2rem;
  }

  .profilePage-1 .container .form .inputTag label {
    font-size: 0.9rem;
  }

  .profilePage-1 .container .form .inputTag input,
  .inputTag textarea {
    font-size: 0.9rem;
  }

  .profilePage-1 .container .form .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

nav {
  background: #18191c;
  padding: 0 20px;
  position: relative;

}

nav .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

nav .container .logo {
  flex: 1;
  width: 120px;
  height: 120px;
  color: #f1f3f6;
}

nav .menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

nav .menu button {
  height: fit-content;
  padding: 7px;
  border: 1px solid #f1f3f6;
  color: #f1f3f6;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
}

nav .menu button:hover {
  color: #f1f3f6;
  background: #184235;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #184235;
}

nav .menu li {
  position: relative;
}

nav .menu li a {
  color: #f1f3f6;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  overflow-y: hidden;
}

nav .menu li a:hover {
  color: #2d5649;
  transition: all 0.3s;
}

nav .hamburger {
  display: none;
}

nav .dropdown {
  cursor: pointer;
  position: relative;


}

nav .dropdown .dropdown-text {
  color: #f1f3f6;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav .dropdown .dropdown-text:hover {
  color: #2d5649;
  transition: all 0.3s;
}


nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(236, 232, 232);
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
  width: 200px;
}

nav .dropdown.show .dropdown-menu {
  display: block;
}

nav .dropdown-menu li {
  padding: 10px;
}

nav .dropdown-menu li a {
  color: #000;
  text-decoration: none;
  display: block;
}

nav .dropdown-menu li:hover {
  background: #f0f0f0;
}



@media (max-width: 1520px) {
  nav .container {
    min-width: 100%;
  }
}

@media (max-width: 1130px) {
  .page {
    padding-top: 120px;
  }

  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }

  nav .hamburger {
    display: block;
    font-size: 35px;
    color: #f1f3f6;
  }

  nav .container {
    align-items: center;
  }

  .menu {
    position: fixed;
    top: 120px;
    background: #f1f3f6;
    left: -100%;
    transition: all 0.3s;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
  }

  nav .show-menu {
    left: 0;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
    box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
  }

  nav .show-menu li a {
    color: #184235;
    font-weight: 600;
  }

  nav .dropdown .dropdown-text {
    color: #184235;
    font-weight: 600;
  }

  nav .dropdown-menu {
    position: sticky;
    background: #f1f3f6;
    border: none;
  }

  nav .show-menu button {
    color: #184235;
    border: 1px solid #184235;
    font-weight: 600;
  }

  nav .show-menu button:hover {
    background: #18191c;
    color: #f1f3f6;
  }

}

@media (max-width: 490px) {
  nav .menu {
    width: 100%;
  }
}

.notfound {
  min-height: 750px;
}

.notfound .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.notfound .content a {
  font-size: 20px;
  font-weight: 500;
  padding: 7px 30px;
  background: transparent;
  border: 1px solid #184235;
  color: #184235;
  text-decoration: none;
  margin-top: 10vh;
  border-radius: 0%;
}

.notfound .content a:hover {
  background: #184235;
  transition: all 0.3s;
  color: #f1f3f6;
}